body{

    background-color: #6c6b6b;
    height: 100%; 
    color: white;
    font-family: system-ui;
}



#title_div{
    display: flex;
    justify-content: center; /* Alinea horizontalmente los elementos al centro */
    align-items: center;
    flex-direction: column;
    margin: 0 4em;
}


#logo_title{
    display: block;

}

#title{
    color: white;
}

h2{
    text-align: center;
    font-size: 150%;
    margin-bottom: 1rem;
    margin-top: 2em;
}


footer{
    display: flex;
    justify-content: space-around;
    margin: 0 3em;

}

footer img, footer p, #redes{
    margin: auto 2em;
}

footer p{
    font-size: 100%;
    text-align: center;
}

.movieLogo{
    width: 100px;
    height: 100px;
}



#link-pages{
    margin: 3em auto;
    display: block;
    width: 100%;
}

#links li{
    margin: 1em 3em;
    font-size: 200%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    
}

#links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    
}

#links a{
    color: white;
    text-decoration: none;

}

#links a:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

#links a:not(:hover) {
    transition: transform 0.5s ease; 
}

.logo_redes{
    width: 50px;
    height: 50px;
    margin: auto;
}

#container-card-movies{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    margin-top: 3em;
    margin-right: 2em;
    margin-left: 2em;

}

.cards{
    width: 25em;
    height: auto;
    padding-bottom: 1rem;
    /*border: 2px solid white;*/
    position: relative;
}

.img-card{
    height: 500px;
    display: block;
    margin: auto;
}

.description-card{
    text-align: center;
    margin: 1em;
}

.rating-card{
  position: absolute; /* Se posiciona de manera absoluta dentro del contenedor */
  top: 0;/* Se coloca en la parte superior del contenedor */
  left: 0; /* Se coloca en la parte izquierda del contenedor */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 100%; /* Ocupa toda la altura del contenedor */
  background-color:rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  color: white; /* Color del texto */
  text-align: center; /* Centra el texto horizontalmente */
  display: none; /* Inicialmente oculto */
}

.description-card h3{
    font-size: 100%;
    font-weight: normal;
}

.rating-card h3{
        font-size: 100%;
        font-weight: bold;
}

.description-card h3, .rating-card h3,
.description-card p, .rating-card p {
    margin: 0.5rem;
}

